<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <th:block th:include="include :: header('日志列表')"/>
</head>
<body class="pear-container">
<div class="layui-card">
  <div class="layui-card-body">
    <table id="well-log" lay-filter="well-log"></table>
  </div>
</div>
</body>

<script id="log-bar" type="text/html">
  <button class="pear-btn pear-btn-sm pear-btn-primary" lay-event="details">
    <i class="pear-icon pear-icon-edit"></i>
  </button>
</script>

<th:block th:include="include :: footer"/>
<script>
  layui.use(['table', 'form', 'jquery', 'element', 'popup', 'util'], function () {
    let table = layui.table;
    let form = layui.form;
    let $ = layui.jquery;
    let popup = layui.popup;

    let MODULE_PATH = "/well/log/";

    let cols = [
      [
        {title: '井上报编码', field: 'wellId', align: 'center'},
        {title: '更新类型', field: 'logType', align: 'center'},
        {title: '更新人', field: 'username', align: 'center'},
        {title: '操作', templet: '#log-bar', align: 'center', width: 120}
      ]
    ]

    table.render({
      elem: '#well-log',
      url: MODULE_PATH + 'data',
      page: true,
      cols: cols,
      skin: 'line',
      toolbar: false
    });

    table.on('tool(well-log)', function (obj) {
      if (obj.event === 'details') {
        window.info(obj);
      }
    });

    window.info = function (obj) {
      layer.open({
        type: 2,
        title: '详细信息',
        shade: 0,
        area: ['400px', '400px'],
        content: MODULE_PATH + "detail",
        success: function (layero) {
          let iframeWin = window[layero.find('iframe')[0]['name']];
          iframeWin.show(obj.data);
        }
      });
    }
  })
</script>
</html>
