package ${packageName}.mapper

import org.ktorm.dsl.*
import org.ktorm.schema.*
import org.springframework.stereotype.Repository
import top.vuhe.admin.spring.database.mapper.CurdMapper
import ${packageName}.domain.${ClassName}

/**
 * ${functionName}Mapper接口
 *
 * @author ${author}
 */
@Repository
class ${ClassName}Mapper : CurdMapper<${ClassName}>("${tableName}") {
    override val id = TODO("需要自行确定主键信息")
#foreach ($column in $columns)
    private val ${column.javaField} = ${column.columnType.funcType}("${column.columnName}").bind(${ClassName}::${column.javaField})
#end

    // TODO("请自行确定增删改查细节")
}
