package ${packageName}.service

import top.vuhe.admin.spring.database.service.ICurdService
import ${packageName}.domain.${ClassName}

/**
 * ${functionName}Service接口
 *
 * @author ${author}
 */
interface I${ClassName}Service : ICurdService<${ClassName}>
